.hero-section[data-v-6cbca777]{min-height:500px}.line-clamp-3[data-v-6cbca777]{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}.prose[data-v-6cbca777]{max-width:65ch}
