.hero-section[data-v-a13d75a3]{min-height:500px}.line-clamp-3[data-v-a13d75a3]{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}.prose[data-v-a13d75a3]{max-width:65ch}
