.hero-section[data-v-d0cbe603]{min-height:500px}.line-clamp-3[data-v-d0cbe603]{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}.prose[data-v-d0cbe603]{max-width:65ch}
