.fixed[data-v-3da9a34a]{animation:fadeIn-3da9a34a .2s ease-out}@keyframes fadeIn-3da9a34a{0%{opacity:0}to{opacity:1}}.line-clamp-3[data-v-b1b0e055]{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}
